#body {
    background-color: #1A1A2E;
}
#titulo {
    color: #00D4FF;
}
.quadro_blue {
    width: 1420px;
    height: 112px;
    background-color: #1565C0;
    padding: 16px;
    margin: 10px;
}
.blue {
    color: white;
    margin: 21px;
}
.quadro_green {
    width: 1370px;
    height: 71px;
    background-color: #2E7D32;
    margin: 30px;
}
.green {
    color: white;
}
.quadro_orange {
    width: 1400;
    height: 92;
    background-color: #E65100;
    padding: 16px;
    margin: 20px;
}
.orange {
    color: white;
}

