* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #5937D7;
}
h1 {
    text-align: center;
    color: white;
}
.fundo {
    width: 550px;
    height: 678px;
    margin: auto;
    background-image: url(assets/img-01.png);
}